.git/
.idea/
.DS_Store
node_modules
/**/node_modules
tags/*
.history
.tmp/
package-lock.json
dist/
*.vsix
_scripts/.temp
_scripts/.temp-pub
yarn.lock
/_scripts/componentLibrary/dev/scripts/_buildTemp
