.vscode/**
.vscode-test/**
out/**
# node_modules/**
src/**
views/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
tsconfig.json
**/.eslintrc.json
**/*.map
_views
.npmignore
_scripts/.temp
_scripts/.temp-pub
*.md
