.publishContainer {
	[data-mybricks-btn] {
		margin: var(--dom-margin-vertical) var(--dom-margin-horizontal);
		width: 100%;
		text-align: center;
		outline: 1px solid transparent;
		outline-offset: 2px !important;
		color: var(--vscode-button-foreground);
		background: var(--vscode-button-background);

		&:hover {
			cursor: pointer;

			div {
				background: var(--vscode-button-hoverBackground);
			}
		}

		div {
			padding: var(--dom-padding-vertical) var(--dom-padding-horizontal);
		}
	}
}
