<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= link %>
    <link rel="stylesheet" href="assets/4.21.6.antd.min.css">
    <style>
      html, body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0px;
      }
      #root {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    </style>
    <script src="assets/18.2.0.react.development.js"></script>
    <script src="assets/18.2.0.react-dom.development.js"></script>
    <!-- vue3相关代码 -->
    <!-- <script src="//f2.eckwai.com/udata/pkg/eshop/fangzhou/pub/pkg/vue/3.2.33/vue.global.js"></script>
    <script>
      window.Vue ? (window.vue = window.Vue) : null
    </script>
    <script src="https://f2.beckwai.com/udata/pkg/eshop/fangzhou/pub/pkg/vue-polyfill/0.0.3/vue3.js"></script>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <script src="//f2.eckwai.com/udata/pkg/eshop/fangzhou/pub/pkg/element-plus/2.2.0/index.full.min.js"></script> -->
    <!-- vue3相关代码 -->

    <!-- vue2相关代码 -->
    <!-- <script src="assets/vue2.min.js"></script>
    <script>
      window.Vue ? (window.vue = window.Vue) : null;
    </script>
    <script src="assets/polyfill.vue2.js"></script> -->
    <!-- vue2相关代码 -->
    <script src="assets/babel-standalone.min.js"></script>
    <%= script %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
