<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= link %>
    <style>
      html, body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0px;
      }
      #root {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    </style>
    <script src="https://assets.mybricks.world/pkg/react-18.2.0/react.development.js"></script>
    <script src="https://assets.mybricks.world/pkg/react-dom-18.2.0/react-dom.development.js"></script>
    <%= script %>
    <script src="https://ali2.a.kwimgs.com/udata/pkg/eshop/chrome-plugin-upload/2023-03-16/1678937644329.6b97634ad57590e0.js"></script>
    <script src="https://f2.eckwai.com/kos/nlav12333/mybricks/designer-spa/1.1.82/index.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
